@using System.Diagnostics.Eventing.Reader
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/myCss.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("我的網頁", "Index", "ImgCarousel", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("首頁", "Index", "ImgCarousel")</li>
                <li>@Html.ActionLink("留言板", "Index", "Guestbooks")</li>
                <li>
                    <a href="https://nakiri.canaria.cc/" target="_blank">私心推薦</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li style="color: aqua">您好 : @(User.Identity.Name)</li>
                    <li>@Html.ActionLink("變更密碼", "ChangePassword", "Members")</li>
                    <li>@Html.ActionLink("登出", "Logout", "Members")</li>
                }
                else
                {
                    <li>@Html.ActionLink("登入", "login", "Members")</li>
                    <li>@Html.ActionLink("註冊", "Register", "Members")</li>
                }
                
            </ul>
        </div>
    </div>
</div>

<div class="banner">
    <img src="~/Images/banner3.jpg" />
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - 資管二 1410931031 林蔚博</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
